<h1 class = 'title'>Payment Schedule</h1>

<table>
<% @loan.payments.each do |payment| %>
  <tr>
    <td> <%= payment.payment_date %> </td>
    <td> <%= payment.beginning_balance %> </td>
    <td> <%= payment.principal_payment %> </td>
    <td> <%= payment.total_payment %> </td>
    <td> <%= payment.ending_balance %> </td>
  </tr>
<% end %>
</table>
